@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552201573389'); /* IE9 */
  src: url('iconfont.eot?t=1552201573389#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABnwAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEeATYCJAMICwYABCAFhG0HNRvJBRHVkzVkf4UwDlflByCSLD18evg1NVfGRI/M7exrxLUocGyJug/IV7A1iAAAAAAAIojf7/ez9xxUk2qki0k0S4ROhtQIkZDofI1iIb9vTGR+02A8OHIHDdAuU9/s9ncT5m6HJGpJ6UrWJspd3KYnPHhUme3+9p50sQUUJzbMWneJbQKFoVcLQ11llemrjdIUmcFETsDbivGmL0fsAGiAsmFi26bxFqMiVJfs+db/8oywOtIL4ccf907/bwBtnO+8y2mORZO6AONACnSsQZEVSeQNYxe4hOMEqnWZEPOs76uUWeMC8eD1qcqcX5ZZqlIor1maES9glcWVB8/h9+MvC4ZCWYJVsX21cGH6x7AzqF/HRxAAAa0uQ8IEMrFfG9+UBCMk1fGsj32VBj/8941irzrB/jqruBZ0QP49CVzhrbIXINObQcyOuppUJ7LrdvYoqKst6v92T7N1pBFxs1MiBM2V8+flVIOZ1rpDNzSZ9wNTzzRpp6d0p9pUDxVrhMBfCoeCUsmYBYKT2dlvq3aWAB+Xektl9HNSeQpH8KsEPVuyLrIMRVYFtenCoHQLVdWqUYLdzb6PVbfdVzpUars7Z4XOFJJKA2jGT0CZGpNQrtIUVBu3tLpGi0dJ5AzGPAEIjV6hUO8NkkbvaMZ/gzLt/kO5xiCodhhsWWMoSHVGI+jB/iE7OoNjEh2V3jG23XBWFNLeyDWHYOyGYmrFE3mOGfUTJ5EAgemABZyG+05wMRV00iWRa+77UPemztGhtMpoBD3YP2RHZ/A7iy59/o6x7YZbmmqcb+Sa+4exG3qgq/zs1XQvr9RPnEQCBKYDFjAI953gqh9U0EmXRkSvubfbhb7ybn3l8XW7oFpZmuJmz01UarXR1swZlQIA') format('woff2'),
  url('iconfont.woff?t=1552201573389') format('woff'),
  url('iconfont.ttf?t=1552201573389') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552201573389#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuokuang:before {
  content: "\e61e";
}

